@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    -fx-fill: black;
    -fx-font-smoothing-type: gray;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-background-color: white;
}

/*https://github.com/tianyow/javafx-skins/blob/master/src/MistSilver/MistSilverSkin.css*/
.progress-bar {
    -fx-background-color: transparent;
}

.progress-bar .track {
    -fx-background-color: LightGray;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
}

.progress-bar .bar {
    -fx-background-color: black;
    -fx-background-radius: 100;
}

/*https://stackoverflow.com/questions/42714744/javafx-remove-percentage-from-progressindicator*/