@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    -fx-fill: white;
    -fx-font-smoothing-type: gray;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-background-color: black;
}

/*https://github.com/tianyow/javafx-skins/blob/master/src/MistSilver/MistSilverSkin.css*/
.progress-bar {
    -fx-background-color:transparent;
}
.progress-bar .track {
    -fx-background-color: grey;
    -fx-background-radius: 0;
}
.progress-bar .bar {
    -fx-background-color: white;
    -fx-background-radius: 0;
}

/*https://stackoverflow.com/questions/42714744/javafx-remove-percentage-from-progressindicator*/