@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    -fx-font-smoothing-type: gray;
    -fx-font-family: 'Roboto', sans-serif;
}

BorderPane{
    -fx-background-color: white;
}

.progress-indicator .percentage {
    -fx-fill:null;
}

.progress-indicator  {
    -fx-padding: 0 0 -16 0;
}